/* Estilos para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #AAB7CF;
}

::-webkit-scrollbar-thumb:hover {
    background: #788aac;
}

/*evitar q aarastren los img*/
img {
    pointer-events: auto;
    -webkit-user-drag: none;
    user-drag: none;
}

/* Estilos para Firefox */
* {
    scrollbar-width: thin;
    /* "auto" | "thin" | "none" */
    scrollbar-color: #AAB7CF transparent;
    /* thumb color, track color */
}

.tamano {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    pointer-events: none;
    user-select: none;
}

.ondas {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -10;
    top: 0;
    /*clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);*/
    clip-path: polygon(
    0% 100%,   /* punto inicial */
    50% 70%,  /* sube en diagonal (≈45°) */
    49% 80%,  /* baja un poco (≈30°) */
    100% 60%, /* vuelve a subir */
    100% 0%,  /* esquina superior derecha */
    0% 0%     /* esquina superior izquierda */
  );
}
